Body{  
	font-family: Calibri, Helvetica, sans-serif;  
	background-color: pink;  
}  
button{   
	background-color: #4CAF50;   
    	width: 25%;  
    	color: orange;   
    	padding: 15px;   
    	margin: 10px 0px;   
    	border: none;   
    	cursor: pointer; 
	margin-left: 37%;
}
   
form{   
    border: 3px solid #f1f1f1;
	margin: 0 auto;
	width: 50%;
}   
	
label{
	margin-left: 25%
}

input[type=text], input[type=password]{   
	width: 50%;   
    	margin: 8px 0;  
    	padding: 12px 20px;   
    	display: inline-block;   
    	border: 2px solid green;   
    	box-sizing: border-box;  
	margin-left: 25%
}  
button:hover{   
    	opacity: 0.7;		
}           
     
.container{
    padding: 25px;   
    background-color: lightblue;  
}

.alert{
	position:fixed;
	bottom:0;
	width: 100%;
}

