div.TopNav{
	position: fixed;
	color: white;
	background-color: maroon;
	width: 100%;
	left: 0;
	top: 0;
	font-size: 18px;
}	

div.TopNav a{
	float: left;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}
	
div.TopNav a:hover{
	background-color: red;
	color: yellow;
}

div.TopNav a.LoginButton{
	float: right;
	font-size: 15px;
	padding: 16px;
	margin-right: 0%;
}
		
div.NavSpace{
	width:100%;
	height:45px;
}
	
div.FooterContainer{
	background-color: maroon;
	color: white;
	width: 100%;
	height: 4%;
	position: fixed;
	left: 0;
	bottom: 0; 
}
	
div.FooterContainer footer{
	text-align: center;
	font-size: 14px;
}

div.SliderContainer{
	width: 540px; 
	margin:40px auto;
	overflow:auto;
}
	
div.SliderInner{
	width:  500px;
	height: 300px;
	position: relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}
	
div.SliderInner img{
	display:none;
	width:500px;
	height:300px;
}

div.SliderInner img.active{
    display: inline-block;
}

.prev, .next{
	float: left;
	margin-top:130px;
	cursor: pointer;
}
	
.prev{
	position:relative;
	margin-right: -45px;
	z-index:100;
}

.next{
    position:relative;
    margin-left: -45px;
    z-index:100;
}	

div.InfoContainer{
	left: 0;
	width: 100%;
	height: 35%;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}
